<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employer Management</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <form action="" method="post">
        <h1>Login</h1>
        <div class="employer">
            <label for="">Email</label>
            <input type="email" name="email" class="e-input">
        </div>
        <div class="employer">
            <label for="">Password</label>
            <input type="password" name="password" class="e-input">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>